
ul,li{
    list-style-type:none;
}


 html,body
{
    /* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; */
    /* overflow-x: hidden;  */
} 

body{
    background: linear-gradient(to bottom, aqua, white);
}

/* .heads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .top{
    display: flex;
    justify-content: space-around;
} */


#link:hover{
    /* background-color: yellow; */
 }

#git:hover{
    /* background-color: yellow; */
}

#logo{
    margin-right: 10px;
}

#icons{
    margin-right: -205px;
    margin-left: 100px;
}


.top{
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    /* background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(87, 68, 143)); */
    align-items:center;
    background-image: image("./img/head.jpg");
  
}

#initial{
    /* margin-top: 0px; */
    /* display: flex; */
    /* justify-content: center; */
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
}

#second{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    
}

.all{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 30px;
}



/* store */

.store{
    display:flex ;
    flex-direction: column;
    margin-left: -100px;
    z-index: 9;
}

.hide {
    display: none;
    position:absolute;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 10;
}

#app:hover + .hide,
#avo:hover + .hide,
#ban:hover + .hide,
#egg:hover + .hide,
#tur:hover + .hide,
#chi:hover + .hide,
#bee:hover + .hide,
#sal:hover + .hide,
#shr:hover + .hide,
#tun:hover + .hide,
#bro:hover + .hide,
#spr:hover + .hide {
    display: block;
    color: red;
    margin-top: -375px;
    margin-left: 70px;
  }

#menut{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

#ins{
    margin: 1px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -10px;
    /* margin-left: -10px; */

}

li{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adding{
    width: 90px;
    border-radius: 10px;
    background-color: lightcoral;

}



.items>img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

/* mid */

.mid{
    display: flex;
    flex-direction: column;
}



/* body */

.body-shape{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: -300px; */
    position: relative;
    align-items: baseline;

}

/* bmi */
/* 
.BMIcalc{
    display: flex;
    flex-direction: column;
}

.BMIcalc>input{
    width: 100px;
    margin: 10px;
} */

#shape{
    /* opacity: .8; */
}

#person{
    display: flex;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: -40px;
    margin-right: 300px;
    z-index: 0;
    /* opacity: 1; */
    /* transition: opacity 1s ease-in-out; */
    /* transition-delay: 10s; */
}


/* Menu Summary */

.side-summary{
    display: flex;
    flex-direction: column;
    align-items:left;
    position: relative;
    margin-left: -300px;
}

#menu-sum{
    display: flex;
    justify-content: center;
}

.container{
  /* margin-bottom: -200px; */
}

.summary-items>li{
 margin-bottom: -60px;
}

.summary-items{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    
    
}

.totals{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 80px;
    
}

.totals>li{
    margin-top: -80px;
    flex-direction: row;
    align-items: baseline;
}
